In [11]:
import pandas as pd
import os
import category_encoders as ce

In [2]:
os.chdir("../")

In [8]:
df = pd.read_csv("data/raw/train.csv")

### Item Identifier

In [10]:
df['Item_Identifier']

0       FDA15
1       DRC01
2       FDN15
3       FDX07
4       NCD19
        ...
8518    FDF22
8519    FDS36
8520    NCJ29
8521    FDN46
8522    DRG01
Name: Item_Identifier, Length: 8523, dtype: object

In [12]:
encoder = ce.TargetEncoder(cols=['Item_Identifier'])
df['Item_Identifier_encoded'] = encoder.fit_transform(df['Item_Identifier'], df['Item_Outlet_Sales'])

In [14]:
df['Item_Identifier_encoded'] = df['Item_Identifier_encoded'].astype('int')

In [15]:
df[['Item_Identifier', 'Item_Identifier_encoded']]

     Item_Identifier  Item_Identifier_encoded
0              FDA15                     2879
1              DRC01                     1920
2              FDN15                     2030
3              FDX07                     2347
4              NCD19                     1879
...              ...                      ...
8518           FDF22                     2424
8519           FDS36                     2271
8520           NCJ29                     1991
8521           FDN46                     2158
8522           DRG01                     2006

[8523 rows x 2 columns]

### Item Type

In [16]:
src_column = 'Item_Type'
target_column = f'{src_column}_encoded'
encoder = ce.TargetEncoder(cols=[src_column])
df[target_column] = encoder.fit_transform(df[src_column], df['Item_Outlet_Sales'])
df[target_column] = df[target_column].astype('int')
df[[src_column, target_column]]

                  Item_Type  Item_Type_encoded
0                     Dairy               2232
1               Soft Drinks               2006
2                      Meat               2158
3     Fruits and Vegetables               2289
4                 Household               2258
...                     ...                ...
8518            Snack Foods               2277
8519           Baking Goods               1952
8520     Health and Hygiene               2010
8521            Snack Foods               2277
8522            Soft Drinks               2006

[8523 rows x 2 columns]